body{background-color: blueviolet; font-size: medium;font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1{color: rgb(129, 18, 233);font-size: 50px;font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center;}
h2{color: rgb(217, 195, 238);font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center;margin: 20px; }
p{color:  rgb(250, 247, 253);font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;}
header{background-color:rgb(226, 104, 226); color: white;width: 100%;}
a:link{ color:rgb(235, 217, 238); background-color: transparent;text-decoration: none;}
a:visited{color: rgb(65, 15, 87);background-color: transparent;text-decoration: none;}
a:hover{color: rgb(113, 202, 61);background-color: transparent;text-decoration: underline;}
a:active{color: rgb(224, 224, 60);background-color: transparent;text-decoration: underline;}
a{margin: 20px;}
form{color:  rgb(250, 247, 253);font-family: Verdana, Geneva, Tahoma, sans-serif;width: 75%; text-align:left;margin: 20px;}
input{color:  rgb(115, 75, 155);font-family: Verdana, Geneva, Tahoma, sans-serif;}
textarea{color:  rgb(115, 75, 155);font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: left;}
.list-group-item{background-color: rgb(188, 155, 219);}
.nav-link{width: 100%;}
.navbar{background-color:  rgb(115, 75, 155);font-family: Verdana, Geneva, Tahoma, sans-serif;width: 100%;}
.container-fluid{background-color:  rgb(188, 152, 224);font-family: Verdana, Geneva, Tahoma, sans-serif;width: 100%;}
.nav-item{color:  rgb(115, 75, 155);font-family: Verdana, Geneva, Tahoma, sans-serif;width: 100%;}
.dropdown-menu{background-color:  rgb(188, 152, 224);font-family: Verdana, Geneva, Tahoma, sans-serif;}
.dropdown-item{color: rgb(175, 44, 125);font-family: Verdana, Geneva, Tahoma, sans-serif;}
.navbar-brand{color: rgb(113, 202, 61);background-color: transparent;text-decoration: underline}
.card{background-color: blueviolet; font-size: medium;font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; margin: 20px;}
.card-title{color: rgb(214, 198, 230);font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left;font-size: 20px;}
.d-block{width: 950px; height: 700px;}
.img-fluid{width: 750px;height: 600px;}
.list-group{width: 25%;margin: 20px;text-align: center;}
.list-group-item{width: 25%; text-align: center;}
.form-control{width: 30%;}
.btn{margin: 20px;}
.carousel-caption h5, 
    .carousel-caption p {
        color: white !important; /* Cambiar el color a blanco */
    }
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        padding: 10px;
    }
